html, body
{
	width:100%;
	height: 100%;
	overflow-x:hidden;
}

.slideMove
{
	display:inline-block;
	height:100%;
	overflow:hidden;
}

.slider
{	
	overflow:hidden;
	width:100%;
	height:100%;
}

.slide
{
	overflow:hidden;
	border:1px solid gray;
	height:100%;
	width:100%;
	display:inline-block;
}
.slide ul
{
	display:inline-block;
}

.linkControls{
	width: 100%;
	height: 100%;
}


/* SLIDE NAV */
.slideNav
{
	position:absolute;
	bottom:0;
	border:1px solid black;
	left:50%;
}

.slideNav > *
{
	display:inline-block

}

/* slide one/links */
.linkContainer {
	margin:1.5%;
}
.flux-container
{
	display:flex;
	width:100%;
	justify-content:space-around;
}
.addLink {
	width: 50%;
	margin: 0 auto;
}


/*

	Some section 

*/
.panel > .panel-heading {
  background-color: #aaf;
}
.linkLabel {
	padding-top:5%;
	padding-bottom:5%;
	font-family:Verdana;
	font-weight:bolder;
	font-size:1.2em;
	text-align:center;
	cursor:pointer;
	flex-grow:1;
}

.deleteLink {
	display:inline-block;
}

.editorMode > span
{
	outline:1px solid red;
}
