<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/reset.css" title="no title" charset="utf-8">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/main.css">
<script src="js/jquery-2.1.4.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>


</head>
<body ng-app="app" ng-controller="EditorModeController">
<div class="slider" id="slider">
<div class="slideNav">
<div class="slideLeft" id="slideLeft">
LEFT
</div>
<div id="linkMode" ng-controller="ToggleEditorModeController" ng-click="toggleMode()" ng-bind="showViewEditText(editorMode)">Edit mode</div>
<div class="slideRight" id="slideRight">
RIGHT
</div>
</div>
<div class="slideMove" id="slideMove">
</div>
<div class="slide">
<div class="linkControls">
<div class="linkContainer">
<div ng-controller="LinkController" class="row flux-container">
	<div ng-repeat="category in allLinks">
	<div class="meme" >
		<div class="panel panel-default linkPanel">
      <div class="panel-heading" style="background-color:rgb({{category.backgroundcolor}});">
			      <span ng-show="editorMode" ng-click="deleteNode($index)" class="nodeDelete glyphicon glyphicon-remove"></span>
            {{category.header}}
						<input ng-show="showHeaderInputBox" value="{{category.header}}" ng-model="category.header">
            <span ng-click="showHeaderInputBox=!showHeaderInputBox" ng-show="editorMode" class="headerEdit glyphicon glyphicon-edit" ng-bind=""></span>
            <span ng-click="changeColor($index);" ng-show="editorMode" class="glyphicon glyphicon-text-background" ng-bind=""></span>

      </div>
			<div class="panel-body">
				<ul class="">
					<li ng-repeat="links in category.keys" class="linkUrl" alt="{{links.URL}}" >
						<div style="display:flex">
							<div ng-show="!editLink" ng-bind="links.label" class="linkLabel"><i class="fa fa-camera-retro fa-lg"></i></div>
							<div style="display:inline-block;">
								<div ng-show="editLink">
									<label>Text</label>
									<input ng-model="links.label" class='inputLabelLink' value='{{links.label}}' type="text">
								</div>
								<div ng-show="editLink">
									<label>URL</label>
									<input ng-model="links.URL" class='inputUrlLink' value='{{links.URL}}' type="text" >
								</div>
							</div>
							<div ng-show="editorMode" class="deleteLink" style="display:inline-block;vertical-align:top">
								<span ng-click="editLink=!editLink" class="editLinkBtn glyphicon glyphicon-edit"></span>
								<span ng-click="deleteLink($parent.$index,$index)" class="deleteLinkBtn glyphicon glyphicon-remove"></span>
							</div>
						</div>
					</li>
				</ul>
				<div class="addLink" ng-click="addLink($index)" ng-show="editorMode">
					<span class="addLinkIcon glyphicon glyphicon-plus"></span>
				</div>
			</div><!-- panelbody -->
		</div><!-- panel default -->
		</div><!-- -->
	</div><!-- first iterator, section level -->
	<span ng-show="editorMode" ng-click="addNode()" class="glyphicon glyphicon-plus"></span>
</div><!-- row flux-container -->
</div><!-- linkcontainer -->
</div><!-- linkControlls -->
</div><!-- slide -->
<div class="slide">
<div class="weatherContainer container">

<div ng-controller="WeatherController" >
<ul ng-repeat="n in weatherCitiesLabels">
<li data-weather-app-coords="{{n.c}}">
{{n.p}}
</li>
</ul>
<div >
</div>
</div>
</div>
</div>
</div>
<script src="js/model/model.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
